
.titulo_principal {
  padding-left: 30px;
}
.titulo_centralizado {
  text-align: center;
}
.principal {
  background: #cccccc4a;
  padding: 20px;
  border-radius: 10ch;
  margin-top: 10px;
}
.texto_principal {
  display: inline-block;
  vertical-align: top;
  font-size: 1.3em;
  width: 40%;
  margin: 2%;
}
#banner {
  max-height: 600px;
  width: 90%;
  display: block;
  margin: auto;
}

.diferencial p {
  text-align: justify;
  max-width: 60ch;
}

em strong {
  color: #ece2e2e3;
}

#mision {
  font-size: 20px;
  max-width: 50ch;
}

.img_principal {
  width: 55%;
}
.diferencial {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
h3 {
  color: #ece2e2e3;
}
.items {
  font-style: italic;
}
.diferencial ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  color: #ece2e2e3;
}
.imagen-diferenciales {
  width: 50%;
}
